* {
    margin: 0px;
    padding: 0px;
}



.logo {
    width: 100px;
    height: auto;
}

.nav-link:hover {
    color: #67b607;
}

.active {
    font-weight: bold;
    color: #08085E;
}

.btn-success {
    background-color: white;
    color: #67b607;

    border: 1px solid #67b607;
}

.btn-success:hover {
    background-color: #67b607;
    color: white;

    border: 1px solid #67b607;
}

.btn-register {

    background-color: white;
    color: #08085E;

    border: 1px solid #08085E;
}

.btn-register:hover {
    background-color: #08085E;
    color: white;

    border: 1px solid white;
}

.carousel-inner {
    height: 700px;
    background-color: black;
}

.carousel {
    height: 700px;
}

.hero-img {
    opacity: 40%;
    height: 700px;
}

.carousel-caption {
    bottom: 16.25rem;
}

.btn-hero {
    background-color: #67b607;
    color: white;

    border: 1px solid #67b607;
}

.btn-hero:hover {
    background-color: #488300;
    ;
    color: white;
    transition: 1.5;

    border: 1px solid #488300;
    ;
}

.bg-hero2 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("../images/soccer.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    color: white;
    justify-items: center;
    align-items: center;

}




.bg-footer {
    height: auto;
    background-color: black;
    color: white;
}

.row img {
    width: auto;
    height: 300px;


}

.row {
    padding: 2%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.logofooter img {
    height: 50px;
    width: auto;
}

footer li {

    list-style: none;


}


footer a {
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    color: white;

}


footer a:hover {
    color: #67b607;

}

.rowfooter {

    justify-content: center;
    align-items: baseline;
}

.close {
    background-color: white;
    border: 0px solid white;
}

.modal-body {
    max-height: 500px;
    overflow: scroll;
}



.top-page:hover {
    background-color: #08085E;
    height: 75px;
    width: 75px;
    z-index: 1;
    position: fixed;
    border-radius: 100%;
    bottom: 20px;
    right: 20px;
    text-align: center;
    border: white solid 1px;
    padding-top: 24px;
    color: #A2EF44;
    transition: 0.2s;

}

/* SWITCH TOGGLE  */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #A2EF44;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #08085E;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #A2EF44;
}

input:focus+.slider {
    box-shadow: 0 0 1px #A2EF44;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* FIN SWITCH TOGGLE */

.accordion-button:hover {

    background-color: #e8e8e8;
}

.accordion-button:focus {

    background-color: #A2EF44;
    border-radius: 10%;
    border-color: #9b9b9b;
}

.bg-hero3 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 100%), url("../images/background_login.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
    color: white;
    justify-items: center;
    align-items: center;

}

.olvidecontrasena {
    text-decoration: none;
    color: white;
    text-decoration: underline;

}

.btn-RegistroLogin {
    background-color: #08085E;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #08085E;
}

.btn-RegistroLogin:hover {
    background-color: #01012e;
    color: white;
    border: 1px solid #08085E;
}

#grilla {
    padding-top: 20px;
    padding-left: 20px;
    display: grid;
    grid-template-areas: "logoFooter" "menuFooter" "legalFooter" "direccionFooter";
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

#logoFooter {
    grid-area: logoFooter;
}

#menuFooter {
    grid-area: menuFooter;
}

#legalFooter {
    grid-area: legalFooter;
}

#direccionFooter {
    grid-area: direccionFooter;
}

@media screen and (min-width: 768px) {
    #grilla {
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-areas: "logoFooter menuFooter legalFooter direccionFooter";
        grid-template-columns: 25% 25% 25% 25%;
    }
}