.row {
    padding: 2%;
    @include justify-align (center, center);
    overflow: hidden;
    width: 100%;
    margin: 0px;

    img {

        @include sizes (auto, 200px);


    }
}



#grilla {
    padding-top: 20px;
    padding-left: 20px;
    display: grid;
    grid-template-areas: "logoFooter" "menuFooter" "legalFooter" "direccionFooter";
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

#logoFooter {
    grid-area: logoFooter;
}

#menuFooter {
    grid-area: menuFooter;
}

#legalFooter {
    grid-area: legalFooter;
}

#direccionFooter {
    grid-area: direccionFooter;
}

.rowfooter {

    @include justify-align (center, baseline);
}

@media screen and (min-width: 768px) {
    #grilla {
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-areas: "logoFooter menuFooter legalFooter direccionFooter";
        grid-template-columns: 25% 25% 25% 25%;
    }
}